---
---

@import "{{ site.theme }}";

header {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  background: #ddd
}

#main-content {
  float: center;
  width: 1000px;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5,
#main-content h6:
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h1:before,
#main-content h2:before,
#main-content h3:before,
#main-content h4:before,
#main-content h5:before,
#main-content h6:before {
  padding-right: 0;
  margin-left: 0;
  content: none;
}

//section {
//  width:800px;
//  float:right;
//  padding-bottom:50px;
//}

//@media print, screen and (max-width: 960px) {
  
//  header {
//      padding-right:470px;
//  }

//}
